body {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

button {
    padding: 10px;
    border: none;
    border-radius:3px;
    background: none;
    color: #4848ff;
}
button:hover{
    background-color: #e0e0ff;
}